<body>
    <main class="main">
		<div class="container-fluid">
			<div class="row">
				<!-- main title -->
				<div class="col-12">
					<div class="main__title">
						<h2>Dashboard</h2>

						<a href="add-item.html" class="main__title-link"><span>add item</span></a>
					</div>
				</div>
				<!-- end main title -->
			</div>

			<div class="row">




				<!-- dashbox -->
				<div class="col-12 col-xl-12">
					<div class="dashbox">

						<div class="dashbox__table-wrap dashbox__table-wrap--1">
							<table class="dashbox__table">
                                <thead>
                                    <tr class="text-white">
                                        <th>ID</th>
                                        <th>POSTER</th>
                                        <th>TITLE</th>
                                        <th>RELEASE DATE</th>
                                        <th>RATING</th>
                                        <th>VOTES</th>
                                        <th>RUNTIME</th>
                                        <th>LANGUAGE</th>
                                        <th>STATUS</th>
                                        <th>WATCH ON</th>
                                        <th>ACTION</th>
                                    </tr>
                                </thead>
                                <tbody class="text-white">
                                    <% movies.forEach((movie, index) => { %>
                                        <tr>
                                            <td><%= index + 1 %></td>
                                            <td>
                                                <img src="<%= movie.posterUrl ? movie.posterUrl : 'assets/img/default-poster.jpg' %>" 
                                                     alt="<%= movie.title %> Poster" 
                                                     width="50" 
                                                     onerror="this.onerror=null; this.src='assets/img/default-poster.jpg';">
                                            </td>
                                            <td><%= movie.title %></td>
                                            <td><%= movie.releaseDate %></td>
                                            <td><%= movie.rating %></td>
                                            <td><%= movie.voteCount %></td>
                                            <td><%= movie.runtime %> min</td>
                                            <td><%= movie.originalLanguage ? movie.originalLanguage.toUpperCase() : "N/A" %></td>
                                            <td><%= movie.status %></td>
                                            <td><%= movie.watchOn %></td>
                                            <td>
                                                <a href="<%= movie.watchLink %>" target="_blank" class="btn btn-primary">
                                                    Watch
                                                </a>
                                            </td>
                                        </tr>
                                    <% }) %>
                                </tbody>
                                
                            </table>
                            
								

				
				
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>