<body>
    <main class="main">
      <div class="container-fluid">
        <div class="row">
          <!-- main title -->
          <div class="col-12">
            <div class="main__title">
              <h2>Indian Movies</h2>
              <a href="add-item.html" class="main__title-link">
                <span>Add Item</span>
              </a>
            </div>
          </div>
          <!-- end main title -->
        </div>
  
        <div class="row">
          <!-- dashbox -->
          <div class="col-12 col-xl-12">
            <div class="dashbox">
              <div class="dashbox__table-wrap dashbox__table-wrap--1">
                <table class="table text-white">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Year</th>
                        <th>Genre</th>
                        <th>Director</th>
                        <th>Cast</th>
                        <th>Overview</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% if (indianMovies.length === 0) { %>
                        <tr>
                          <td colspan="8" class="text-center">No movies found</td>
                        </tr>
                      <% } else { %>
                        <% indianMovies.forEach((movie, index) => { %>
                          <tr>
                            <td><%= (currentPage - 1) * 10 + index + 1 %></td>
                            <td>
                                <img src="<%= movie.posterUrl ? movie.posterUrl : 'assets/img/default-poster.jpg' %>"
                                     alt="<%= movie.title %> Poster"
                                     width="70"
                                     onerror="this.onerror=null; this.src='assets/img/default-poster.jpg';">
                              </td>
                              
          
                            <td><%= movie.title || "N/A" %></td>
                            <td><%= movie.year || "N/A" %></td>
                            <td><%= movie.genre || "N/A" %></td>
                            
                            <td><%= movie.director || "N/A" %></td>
                            <td><%= movie.cast || "N/A" %></td>
                            <td><%= movie.overview || "N/A" %></td>
                          </tr>
                        <% }) %>
                      <% } %>
                    </tbody>
                  </table>
                  
                <!-- Pagination Section -->
                <div class="pagination-container">
                  <% if (currentPage > 1) { %>
                    <a href="/indian?page=<%= currentPage - 1 %>" class="pagination-btn">
                      « Prev
                    </a>
                  <% } %>
  
                  <% for (let i = 1; i <= totalPages; i++) { %>
                    <% if (i >= currentPage - 2 && i <= currentPage + 2) { %>
                      <a href="/indian?page=<%= i %>" 
                         class="pagination-btn <%= i === currentPage ? 'active' : '' %>">
                        <%= i %>
                      </a>
                    <% } %>
                  <% } %>
  
                  <% if (currentPage < totalPages) { %>
                    <a href="/indian?page=<%= currentPage + 1 %>" class="pagination-btn">
                      Next »
                    </a>
                  <% } %>
                </div>
                <!-- End Pagination -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
